
<div class="container">
	<footer>
		<div class="row">
			<div class="col-md-12">
				<a href="index.html" class="center-block footerlogo"></a> 
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<nav class="footer_navigation">	
					<ul>						
						<li><a href="photography.html">Photography</a></li>      
						<li><a href="video.html">Video</a></li>
						<li><a href="more.html">More</a></li>       
					</ul>
				</nav>
			</div>
		</div>
	</footer>

</div><!--container -->

	<!-- Le javascript
	================================================== -->
        <!--Placed at the end of the document so the pages load faster
	     jQuery (necessary for Bootstrap's JavaScript plugins)
	    <script src="https://code.jquery.com/jquery.js"></script>
	    Include all compiled plugins (below), or include individual files as needed 
	    <script src="js/bootstrap.min.js"></script> -->

</body>
</html>