<!DOCTYPE html>
<html lang="en">
<head>
	<!-- @reload -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><!-- $title --></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Broken Heart Photography | Tihomir Rachev's Portfolio">
	<meta name="author" content="Lyudmil Dachev">
	<link rel="shortcut icon" href="favicon.ico"/>
	<!-- Le styles -->
	
	<link href="css/photography.css" rel="stylesheet">
	<link href="css/normalize.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/component.css" />
	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
   