<div class="container">
	<div class="row">
		<div class="col-md-7">
			<div class="delimitador">
				<div class="contenedor">			
					<iframe width="660" height="415" src="//www.youtube.com/embed/m8LIHFjxK-I" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			
		</div>
		<div class="col-md-5">
			<div class="info">	 
				 <h1>Nahto Kry</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, expedita, nesciunt similique consequuntur dicta tenetur veritatis. Cumque, quae ipsa debitis 							omnis deserunt quibusdam dolore explicabo! Ratione fugit soluta ipsum voluptate!</p>
			</div>		
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-7">
			<div class="delimitador">
				<div class="contenedor">			
					<iframe width="660" height="415" src="//www.youtube.com/embed/m8LIHFjxK-I" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			
		</div>
		<div class="col-md-5">
			<div class="info">	 
				 <h1>Nahto Kry</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, expedita, nesciunt similique consequuntur dicta tenetur veritatis. Cumque, quae ipsa debitis 							omnis deserunt quibusdam dolore explicabo! Ratione fugit soluta ipsum voluptate!</p>
			</div>		
		</div>
	</div>
	
</div>
